<br>
<br>
<br>
<br>
<br>
<center>
  <span style="font-size: 80px; color:white">Git <span style="color:#FFCE54">Awesomr </span></span>
  <h4 class="offset">Yes, you are awesome, but you could Git Awesomr</h4>

  <h4 style="color:white"class="description">
    <br><br>
    A consolidated Score for you github activties.
  </h4><br>

  <% unless @user %>
    <a href="/login" class="btn btn-success">Sign in with GitHub <img src="/images/icn_join_w.png" alt="Join" height="20" width="20"></a>
  <%end%>
</center>
